In [12]:
import pandas as pd

# Step 1: Load the saved FinalDataset.csv
dataset = pd.read_csv("/home/jibril/Documents/REvoEstatePricePrediction/FinalDataset.csv")

# Step 2: Check each column
print("=== Checking FinalDataset.csv ===")

# Check for missing values in each column
print("\n1. Missing Values (NaN) per Column:")
print(dataset.isnull().sum())

# Check data types and non-null counts
print("\n2. Data Types and Info:")
print(dataset.info())

# Print summary statistics or sample values for each column
print("\n3. Summary for Each Column:")
for column in ["Price", "Bedrooms", "Bathrooms", "Land_Area", "Year", "Status", "Furnished", "Address", "Property_Type"]:
    print(f"\nColumn: {column}")
    if dataset[column].dtype in ['float64', 'int64']:  # Numerical columns
        print(dataset[column].describe())  # Stats like mean, min, max
    else:  # Categorical columns
        print(dataset[column].value_counts())  # Frequency of each value

# Step 3: Print the full loaded dataset
print("\n4. Loaded FinalDataset.csv:")
print(dataset)

=== Checking FinalDataset.csv ===

1. Missing Values (NaN) per Column:
Price            0
Bedrooms         0
Bathrooms        0
Land_Area        0
Year             0
Status           0
Furnished        0
Address          0
Property_Type    0
dtype: int64

2. Data Types and Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7659 entries, 0 to 7658
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Price          7659 non-null   float64
 1   Bedrooms       7659 non-null   float64
 2   Bathrooms      7659 non-null   float64
 3   Land_Area      7659 non-null   float64
 4   Year           7659 non-null   float64
 5   Status         7659 non-null   object
 6   Furnished      7659 non-null   object
 7   Address        7659 non-null   object
 8   Property_Type  7659 non-null   object
dtypes: float64(5), object(4)
memory usage: 538.7+ KB
None

3. Summary for Each Column:

Column: Price
count    7.659000e+03
mean     1.088488e+07
std      4.813161e+07
min      7.000000e+03
25%      1.000000e+05
50%      3.800000e+06
75%      1.410000e+07
max      2.200000e+09
Name: Price, dtype: float64

Column: Bedrooms
count    7659.000000
mean        3.069461
std         2.055480
min         0.000000
25%         2.000000
50%         3.000000
75%         3.000000
max        20.000000
Name: Bedrooms, dtype: float64

Column: Bathrooms
count    7659.000000
mean        2.556992
std         1.551496
min         0.000000
25%         2.000000
50%         2.000000
75%         3.000000
max        20.000000
Name: Bathrooms, dtype: float64

Column: Land_Area
count    7659.000000
mean      199.071344
std       259.369806
min         0.000000
25%       105.000000
50%       148.000000
75%       200.000000
max      5000.000000
Name: Land_Area, dtype: float64

Column: Year
count    7659.000000
mean     2024.808722
std         0.427077
min      2023.000000
25%      2025.000000
50%      2025.000000
75%      2025.000000
max      2025.000000
Name: Year, dtype: float64

Column: Status
Status
For Sale    4246
For Rent    3413
Name: count, dtype: int64

Column: Furnished
Furnished
No     4130
Yes    3529
Name: count, dtype: int64

Column: Address
Address
Bole                4190
Yeka                1473
Kirkos               544
Lemi Kura            466
Nifas Silk-Lafto     374
Arada                193
Lideta               151
Addis Ketema          98
Kolfe Keranio         86
Akaky Kaliti          63
Gullele               21
Name: count, dtype: int64

Column: Property_Type
Property_Type
Apartment    6584
Villa        1075
Name: count, dtype: int64

4. Loaded FinalDataset.csv:
           Price  Bedrooms  Bathrooms  Land_Area    Year    Status Furnished  \
0        70000.0       1.0        2.0     148.00  2025.0  For Rent       Yes
1       100000.0       3.0        2.0     148.00  2025.0  For Rent       Yes
2     31000000.0       5.0        3.0     350.00  2025.0  For Sale        No
3      9500000.0       3.0        2.0     148.00  2025.0  For Sale        No
4     15000000.0       3.0        2.0     120.00  2025.0  For Sale        No
...          ...       ...        ...        ...     ...       ...       ...
7654  11136000.0       3.0        2.0     169.00  2023.0  For Sale       Yes
7655   9728000.0       3.0        2.0     128.00  2023.0  For Sale       Yes
7656     85000.0       3.0        2.0     106.00  2023.0  For Rent       Yes
7657  12435780.0       2.0        2.0     117.87  2023.0  For Sale       Yes
7658    120000.0       2.0        2.0     102.00  2023.0  For Sale       Yes

               Address Property_Type
0                 Yeka     Apartment
1            Lemi Kura     Apartment
2            Lemi Kura         Villa
3                 Yeka     Apartment
4        Kolfe Keranio         Villa
...                ...           ...
7654  Nifas Silk-Lafto     Apartment
7655              Bole     Apartment
7656  Nifas Silk-Lafto     Apartment
7657            Kirkos     Apartment
7658              Bole     Apartment

[7659 rows x 9 columns]

In [13]:
dataset=pd.read_csv("/home/jibril/Documents/REvoEstatePricePrediction/1FinalDataset.csv")

In [14]:
dataset[:50]

,Price,Bedrooms,Bathrooms,Land_Area,Year,Status,Furnished,Address,Property_Type
0,70000.0,1.0,2.0,148.0,2025.0,For Rent,Yes,Yeka,Apartment
1,100000.0,3.0,2.0,148.0,2025.0,For Rent,Yes,Lemi Kura,Apartment
2,31000000.0,5.0,3.0,350.0,2025.0,For Sale,No,Lemi Kura,Villa
3,9500000.0,3.0,2.0,148.0,2025.0,For Sale,No,Yeka,Apartment
4,15000000.0,3.0,2.0,120.0,2025.0,For Sale,No,Kolfe Keranio,Villa
5,18000000.0,3.0,2.0,140.0,2025.0,For Sale,No,Kolfe Keranio,Villa
6,80000.0,1.0,1.0,148.0,2025.0,For Rent,Yes,Bole,Apartment
7,85000.0,1.0,1.0,148.0,2025.0,For Rent,Yes,Yeka,Apartment
8,80000.0,1.0,1.0,148.0,2025.0,For Rent,Yes,Bole,Apartment
9,240000.0,3.0,2.0,148.0,2025.0,For Rent,Yes,Bole,Apartment
10,170000.0,3.0,2.0,148.0,2025.0,For Rent,Yes,Bole,Apartment
11,19000000.0,3.0,2.0,210.0,2025.0,For Sale,No,Yeka,Villa
12,12000000.0,3.0,2.0,148.0,2025.0,For Sale,No,Lemi Kura,Apartment
13,90000.0,5.0,4.0,500.0,2025.0,For Rent,No,Bole,Apartment
14,85000.0,3.0,3.0,320.0,2025.0,For Rent,Yes,Bole,Apartment
15,111000.0,1.0,1.0,450.0,2025.0,For Rent,Yes,Bole,Apartment
16,100000.0,3.0,3.0,380.0,2025.0,For Rent,Yes,Yeka,Apartment
17,100000.0,2.0,2.0,410.0,2025.0,For Rent,Yes,Yeka,Apartment
18,110000.0,2.0,2.0,340.0,2025.0,For Rent,Yes,Kirkos,Apartment
19,110000.0,4.0,3.0,470.0,2024.0,For Rent,Yes,Lideta,Apartment
20,80000.0,1.0,1.0,390.0,2025.0,For Rent,Yes,Bole,Apartment
21,82000.0,3.0,2.0,310.0,2025.0,For Rent,No,Lemi Kura,Apartment
22,83000.0,2.0,2.0,480.0,2025.0,For Rent,Yes,Bole,Apartment
23,84000.0,4.0,3.0,350.0,2025.0,For Rent,No,Kirkos,Apartment
24,86000.0,3.0,3.0,420.0,2025.0,For Rent,Yes,Yeka,Apartment
25,87000.0,2.0,1.0,370.0,2025.0,For Rent,Yes,Bole,Apartment
26,88000.0,1.0,2.0,460.0,2025.0,For Rent,No,Lideta,Apartment
27,89000.0,5.0,4.0,330.0,2025.0,For Rent,Yes,Bole,Apartment
28,91000.0,3.0,2.0,490.0,2025.0,For Rent,No,Kirkos,Apartment
29,92000.0,2.0,3.0,300.0,2025.0,For Rent,Yes,Yeka,Apartment
30,93000.0,4.0,3.0,440.0,2024.0,For Rent,Yes,Bole,Apartment
31,94000.0,1.0,1.0,360.0,2025.0,For Rent,No,Lemi Kura,Apartment
32,95000.0,3.0,2.0,475.0,2025.0,For Rent,Yes,Bole,Apartment
33,96000.0,2.0,2.0,315.0,2025.0,For Rent,Yes,Kirkos,Apartment
34,97000.0,5.0,4.0,430.0,2025.0,For Rent,No,Yeka,Apartment
35,98000.0,3.0,3.0,385.0,2025.0,For Rent,Yes,Bole,Apartment
36,99000.0,2.0,1.0,455.0,2025.0,For Rent,Yes,Lideta,Apartment
37,101000.0,4.0,3.0,325.0,2025.0,For Rent,No,Bole,Apartment
38,102000.0,1.0,2.0,495.0,2025.0,For Rent,Yes,Kirkos,Apartment
39,103000.0,3.0,2.0,340.0,2025.0,For Rent,Yes,Yeka,Apartment
40,104000.0,2.0,3.0,410.0,2024.0,For Rent,No,Bole,Apartment
41,105000.0,5.0,4.0,370.0,2025.0,For Rent,Yes,Lemi Kura,Apartment
42,106000.0,3.0,3.0,465.0,2025.0,For Rent,Yes,Bole,Apartment
43,107000.0,2.0,2.0,305.0,2025.0,For Rent,No,Kirkos,Apartment
44,108000.0,4.0,1.0,450.0,2025.0,For Rent,Yes,Yeka,Apartment
45,109000.0,1.0,2.0,390.0,2025.0,For Rent,Yes,Bole,Apartment
46,112000.0,3.0,3.0,330.0,2025.0,For Rent,No,Lideta,Apartment
47,113000.0,2.0,2.0,480.0,2025.0,For Rent,Yes,Bole,Apartment
48,114000.0,5.0,4.0,355.0,2025.0,For Rent,Yes,Kirkos,Apartment
49,115000.0,3.0,2.0,420.0,2025.0,For Rent,No,Yeka,Apartment

In [15]:
from sklearn.preprocessing import OneHotEncoder
onehot=OneHotEncoder(sparse_output=False)
encodedStatus=onehot.fit_transform(dataset[["Status"]])
encodedStatus=pd.DataFrame(encodedStatus,columns=onehot.get_feature_names_out(["Status"]))
encodedStatus[:20]

    Status_For Rent  Status_For Sale
0               1.0              0.0
1               1.0              0.0
2               0.0              1.0
3               0.0              1.0
4               0.0              1.0
5               0.0              1.0
6               1.0              0.0
7               1.0              0.0
8               1.0              0.0
9               1.0              0.0
10              1.0              0.0
11              0.0              1.0
12              0.0              1.0
13              1.0              0.0
14              1.0              0.0
15              1.0              0.0
16              1.0              0.0
17              1.0              0.0
18              1.0              0.0
19              1.0              0.0

In [16]:
#saving onehot fo reusability
import joblib
joblib.dump(onehot, 'Statusonehot_encoder.pkl')

['Statusonehot_encoder.pkl']

In [17]:
dataset = dataset.drop(columns=['Status'])
dataset.head(20)

,Price,Bedrooms,Bathrooms,Land_Area,Year,Furnished,Address,Property_Type
0,70000.0,1.0,2.0,148.0,2025.0,Yes,Yeka,Apartment
1,100000.0,3.0,2.0,148.0,2025.0,Yes,Lemi Kura,Apartment
2,31000000.0,5.0,3.0,350.0,2025.0,No,Lemi Kura,Villa
3,9500000.0,3.0,2.0,148.0,2025.0,No,Yeka,Apartment
4,15000000.0,3.0,2.0,120.0,2025.0,No,Kolfe Keranio,Villa
5,18000000.0,3.0,2.0,140.0,2025.0,No,Kolfe Keranio,Villa
6,80000.0,1.0,1.0,148.0,2025.0,Yes,Bole,Apartment
7,85000.0,1.0,1.0,148.0,2025.0,Yes,Yeka,Apartment
8,80000.0,1.0,1.0,148.0,2025.0,Yes,Bole,Apartment
9,240000.0,3.0,2.0,148.0,2025.0,Yes,Bole,Apartment
10,170000.0,3.0,2.0,148.0,2025.0,Yes,Bole,Apartment
11,19000000.0,3.0,2.0,210.0,2025.0,No,Yeka,Villa
12,12000000.0,3.0,2.0,148.0,2025.0,No,Lemi Kura,Apartment
13,90000.0,5.0,4.0,500.0,2025.0,No,Bole,Apartment
14,85000.0,3.0,3.0,320.0,2025.0,Yes,Bole,Apartment
15,111000.0,1.0,1.0,450.0,2025.0,Yes,Bole,Apartment
16,100000.0,3.0,3.0,380.0,2025.0,Yes,Yeka,Apartment
17,100000.0,2.0,2.0,410.0,2025.0,Yes,Yeka,Apartment
18,110000.0,2.0,2.0,340.0,2025.0,Yes,Kirkos,Apartment
19,110000.0,4.0,3.0,470.0,2024.0,Yes,Lideta,Apartment

In [18]:
dataset = pd.concat([dataset, encodedStatus], axis=1)
dataset.head(20)

,Price,Bedrooms,Bathrooms,Land_Area,Year,Furnished,Address,Property_Type,Status_For Rent,Status_For Sale
0,70000.0,1.0,2.0,148.0,2025.0,Yes,Yeka,Apartment,1.0,0.0
1,100000.0,3.0,2.0,148.0,2025.0,Yes,Lemi Kura,Apartment,1.0,0.0
2,31000000.0,5.0,3.0,350.0,2025.0,No,Lemi Kura,Villa,0.0,1.0
3,9500000.0,3.0,2.0,148.0,2025.0,No,Yeka,Apartment,0.0,1.0
4,15000000.0,3.0,2.0,120.0,2025.0,No,Kolfe Keranio,Villa,0.0,1.0
5,18000000.0,3.0,2.0,140.0,2025.0,No,Kolfe Keranio,Villa,0.0,1.0
6,80000.0,1.0,1.0,148.0,2025.0,Yes,Bole,Apartment,1.0,0.0
7,85000.0,1.0,1.0,148.0,2025.0,Yes,Yeka,Apartment,1.0,0.0
8,80000.0,1.0,1.0,148.0,2025.0,Yes,Bole,Apartment,1.0,0.0
9,240000.0,3.0,2.0,148.0,2025.0,Yes,Bole,Apartment,1.0,0.0
10,170000.0,3.0,2.0,148.0,2025.0,Yes,Bole,Apartment,1.0,0.0
11,19000000.0,3.0,2.0,210.0,2025.0,No,Yeka,Villa,0.0,1.0
12,12000000.0,3.0,2.0,148.0,2025.0,No,Lemi Kura,Apartment,0.0,1.0
13,90000.0,5.0,4.0,500.0,2025.0,No,Bole,Apartment,1.0,0.0
14,85000.0,3.0,3.0,320.0,2025.0,Yes,Bole,Apartment,1.0,0.0
15,111000.0,1.0,1.0,450.0,2025.0,Yes,Bole,Apartment,1.0,0.0
16,100000.0,3.0,3.0,380.0,2025.0,Yes,Yeka,Apartment,1.0,0.0
17,100000.0,2.0,2.0,410.0,2025.0,Yes,Yeka,Apartment,1.0,0.0
18,110000.0,2.0,2.0,340.0,2025.0,Yes,Kirkos,Apartment,1.0,0.0
19,110000.0,4.0,3.0,470.0,2024.0,Yes,Lideta,Apartment,1.0,0.0

In [19]:
dataset.shape

(7659, 10)

In [20]:
from sklearn.preprocessing import OneHotEncoder
Furnishedonehot=OneHotEncoder(sparse_output=False)
encodedFurnished=Furnishedonehot.fit_transform(dataset[["Furnished"]])
encodedFurnished=pd.DataFrame(encodedFurnished,columns=Furnishedonehot.get_feature_names_out(["Furnished"]))
encodedFurnished[:20]

    Furnished_No  Furnished_Yes
0            0.0            1.0
1            0.0            1.0
2            1.0            0.0
3            1.0            0.0
4            1.0            0.0
5            1.0            0.0
6            0.0            1.0
7            0.0            1.0
8            0.0            1.0
9            0.0            1.0
10           0.0            1.0
11           1.0            0.0
12           1.0            0.0
13           1.0            0.0
14           0.0            1.0
15           0.0            1.0
16           0.0            1.0
17           0.0            1.0
18           0.0            1.0
19           0.0            1.0

In [21]:
#saving onehot fo reusability
import joblib
joblib.dump(Furnishedonehot, 'Furnishedonehot_encoder.pkl')

['Furnishedonehot_encoder.pkl']

In [22]:
dataset = dataset.drop(columns=['Furnished'])
dataset.head(20)

,Price,Bedrooms,Bathrooms,Land_Area,Year,Address,Property_Type,Status_For Rent,Status_For Sale
0,70000.0,1.0,2.0,148.0,2025.0,Yeka,Apartment,1.0,0.0
1,100000.0,3.0,2.0,148.0,2025.0,Lemi Kura,Apartment,1.0,0.0
2,31000000.0,5.0,3.0,350.0,2025.0,Lemi Kura,Villa,0.0,1.0
3,9500000.0,3.0,2.0,148.0,2025.0,Yeka,Apartment,0.0,1.0
4,15000000.0,3.0,2.0,120.0,2025.0,Kolfe Keranio,Villa,0.0,1.0
5,18000000.0,3.0,2.0,140.0,2025.0,Kolfe Keranio,Villa,0.0,1.0
6,80000.0,1.0,1.0,148.0,2025.0,Bole,Apartment,1.0,0.0
7,85000.0,1.0,1.0,148.0,2025.0,Yeka,Apartment,1.0,0.0
8,80000.0,1.0,1.0,148.0,2025.0,Bole,Apartment,1.0,0.0
9,240000.0,3.0,2.0,148.0,2025.0,Bole,Apartment,1.0,0.0
10,170000.0,3.0,2.0,148.0,2025.0,Bole,Apartment,1.0,0.0
11,19000000.0,3.0,2.0,210.0,2025.0,Yeka,Villa,0.0,1.0
12,12000000.0,3.0,2.0,148.0,2025.0,Lemi Kura,Apartment,0.0,1.0
13,90000.0,5.0,4.0,500.0,2025.0,Bole,Apartment,1.0,0.0
14,85000.0,3.0,3.0,320.0,2025.0,Bole,Apartment,1.0,0.0
15,111000.0,1.0,1.0,450.0,2025.0,Bole,Apartment,1.0,0.0
16,100000.0,3.0,3.0,380.0,2025.0,Yeka,Apartment,1.0,0.0
17,100000.0,2.0,2.0,410.0,2025.0,Yeka,Apartment,1.0,0.0
18,110000.0,2.0,2.0,340.0,2025.0,Kirkos,Apartment,1.0,0.0
19,110000.0,4.0,3.0,470.0,2024.0,Lideta,Apartment,1.0,0.0

In [23]:
dataset = pd.concat([dataset, encodedFurnished], axis=1)
dataset.head(20)

,Price,Bedrooms,Bathrooms,Land_Area,Year,Address,Property_Type,Status_For Rent,Status_For Sale,Furnished_No,Furnished_Yes
0,70000.0,1.0,2.0,148.0,2025.0,Yeka,Apartment,1.0,0.0,0.0,1.0
1,100000.0,3.0,2.0,148.0,2025.0,Lemi Kura,Apartment,1.0,0.0,0.0,1.0
2,31000000.0,5.0,3.0,350.0,2025.0,Lemi Kura,Villa,0.0,1.0,1.0,0.0
3,9500000.0,3.0,2.0,148.0,2025.0,Yeka,Apartment,0.0,1.0,1.0,0.0
4,15000000.0,3.0,2.0,120.0,2025.0,Kolfe Keranio,Villa,0.0,1.0,1.0,0.0
5,18000000.0,3.0,2.0,140.0,2025.0,Kolfe Keranio,Villa,0.0,1.0,1.0,0.0
6,80000.0,1.0,1.0,148.0,2025.0,Bole,Apartment,1.0,0.0,0.0,1.0
7,85000.0,1.0,1.0,148.0,2025.0,Yeka,Apartment,1.0,0.0,0.0,1.0
8,80000.0,1.0,1.0,148.0,2025.0,Bole,Apartment,1.0,0.0,0.0,1.0
9,240000.0,3.0,2.0,148.0,2025.0,Bole,Apartment,1.0,0.0,0.0,1.0
10,170000.0,3.0,2.0,148.0,2025.0,Bole,Apartment,1.0,0.0,0.0,1.0
11,19000000.0,3.0,2.0,210.0,2025.0,Yeka,Villa,0.0,1.0,1.0,0.0
12,12000000.0,3.0,2.0,148.0,2025.0,Lemi Kura,Apartment,0.0,1.0,1.0,0.0
13,90000.0,5.0,4.0,500.0,2025.0,Bole,Apartment,1.0,0.0,1.0,0.0
14,85000.0,3.0,3.0,320.0,2025.0,Bole,Apartment,1.0,0.0,0.0,1.0
15,111000.0,1.0,1.0,450.0,2025.0,Bole,Apartment,1.0,0.0,0.0,1.0
16,100000.0,3.0,3.0,380.0,2025.0,Yeka,Apartment,1.0,0.0,0.0,1.0
17,100000.0,2.0,2.0,410.0,2025.0,Yeka,Apartment,1.0,0.0,0.0,1.0
18,110000.0,2.0,2.0,340.0,2025.0,Kirkos,Apartment,1.0,0.0,0.0,1.0
19,110000.0,4.0,3.0,470.0,2024.0,Lideta,Apartment,1.0,0.0,0.0,1.0

In [24]:
dataset.shape

(7659, 11)

In [25]:
from sklearn.preprocessing import OneHotEncoder
Addressonehot=OneHotEncoder(sparse_output=False)
encodedAddress=Addressonehot.fit_transform(dataset[["Address"]])
encodedAddress=pd.DataFrame(encodedAddress,columns=Addressonehot.get_feature_names_out(["Address"]))
encodedAddress[:5]

,Address_Addis Ketema,Address_Akaky Kaliti,Address_Arada,Address_Bole,Address_Gullele,Address_Kirkos,Address_Kolfe Keranio,Address_Lemi Kura,Address_Lideta,Address_Nifas Silk-Lafto,Address_Yeka
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [26]:
#saving onehot fo reusability
import joblib
joblib.dump(Addressonehot, 'Addressonehot_encoder.pkl')

dataset = dataset.drop(columns=['Address'])

In [27]:
dataset = pd.concat([dataset, encodedAddress], axis=1)
dataset.head(5)

,Price,Bedrooms,Bathrooms,Land_Area,Year,Property_Type,Status_For Rent,Status_For Sale,Furnished_No,Furnished_Yes,...,Address_Akaky Kaliti,Address_Arada,Address_Bole,Address_Gullele,Address_Kirkos,Address_Kolfe Keranio,Address_Lemi Kura,Address_Lideta,Address_Nifas Silk-Lafto,Address_Yeka
0,70000.0,1.0,2.0,148.0,2025.0,Apartment,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100000.0,3.0,2.0,148.0,2025.0,Apartment,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,31000000.0,5.0,3.0,350.0,2025.0,Villa,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,9500000.0,3.0,2.0,148.0,2025.0,Apartment,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,15000000.0,3.0,2.0,120.0,2025.0,Villa,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [28]:
from sklearn.preprocessing import OneHotEncoder
Property_Typeonehot=OneHotEncoder(sparse_output=False)
encodedProperty_Type=Property_Typeonehot.fit_transform(dataset[["Property_Type"]])
encodedProperty_Type=pd.DataFrame(encodedProperty_Type,columns=Property_Typeonehot.get_feature_names_out(["Property_Type"]))
encodedProperty_Type[:5]

   Property_Type_Apartment  Property_Type_Villa
0                      1.0                  0.0
1                      1.0                  0.0
2                      0.0                  1.0
3                      1.0                  0.0
4                      0.0                  1.0

In [29]:
#saving onehot fo reusability
import joblib
joblib.dump(Property_Typeonehot, 'Property_Typeonehot_encoder.pkl')

dataset = dataset.drop(columns=['Property_Type'])

In [30]:
dataset = pd.concat([dataset, encodedProperty_Type], axis=1)
dataset.head(5)

,Price,Bedrooms,Bathrooms,Land_Area,Year,Status_For Rent,Status_For Sale,Furnished_No,Furnished_Yes,Address_Addis Ketema,...,Address_Bole,Address_Gullele,Address_Kirkos,Address_Kolfe Keranio,Address_Lemi Kura,Address_Lideta,Address_Nifas Silk-Lafto,Address_Yeka,Property_Type_Apartment,Property_Type_Villa
0,70000.0,1.0,2.0,148.0,2025.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,100000.0,3.0,2.0,148.0,2025.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,31000000.0,5.0,3.0,350.0,2025.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,9500000.0,3.0,2.0,148.0,2025.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,15000000.0,3.0,2.0,120.0,2025.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [31]:
dataset.shape

(7659, 22)

In [32]:
dataset.to_csv("/home/jibril/Documents/REvoEstatePricePrediction/EncodedFinalDataset.csv", index=False)